body{
margin:0;
font-family:Arial,sans-serif;
background:#f4f6f9;
}

header{
background:#072b61;
color:white;
padding:20px;
display:flex;
align-items:center;
gap:20px;
}

.logo{
height:60px;
background:white;
padding:5px;
border-radius:8px;
}

.hero{
display:flex;
justify-content:center;
padding:60px 20px;
}

.search-card{

background:white;

padding:30px;

width:450px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);
}

input{

width:100%;

padding:12px;

margin-bottom:12px;

box-sizing:border-box;
}

button{

width:100%;

padding:12px;

background:#072b61;

color:white;

border:none;

cursor:pointer;
}

.result-card{

max-width:500px;

margin:30px auto;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

text-align:center;
}
